<div class="table-responsive" *ngIf="currentUser != null">          
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Action</th>
      </tr>
    </thead>
	
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user._id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>
			<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal3" (click)="editUser(user)">
			<span class="glyphicon glyphicon-pencil"></span> Edit 
			</button>
			<button type="button" class="btn btn-default btn-sm" (click)="deleteUser(user._id)">
			<span class="glyphicon glyphicon-remove"></span>  Delete
			</button>
		</td>
      </tr>
    </tbody>
  </table>
</div>

<app-edit-user [selectedUser]="selectedUser"><app-edit-user>