  <!-- Modal -->
  <div class="modal fade">
    <div class="modal-dialog">
	
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><ng-content select="[modal-header]"></ng-content></h4>
        </div>
        <div class="modal-body">
		<ng-content select="[modal-body]"></ng-content>
        </div>
        <div class="modal-footer">
        <ng-content select="[modal-footer]"></ng-content>
        </div>
      </div>
      
    </div>
  </div>
