<div class="jumbotron text-center">
  <h1>MEAN Stack Demo</h1>
  <p>A demo app using MongoDB, Express.js, Angular, and Node.js</p> 
  <p>Hello {{currentUser}}</p>
</div>
  
<div class="container text-center">
  <div class="row">
    <div class="col-sm-4">
      <h3>User Registration + Authentication</h3>
      <p>Users are validated to registrater/log in to the system.</p>
    </div>
    <div class="col-sm-4">
      <h3>Security Protected Pages</h3>
      <p>Using JWT to protect pages from being viewed.</p>
    </div>
    <div class="col-sm-4">
      <h3>Profile Editing</h3>        
      <p>Users will be able to edit their profile information.</p>
    </div>
    <div class="col-sm-3 hide">
      <h3>Admin Authority</h3>        
      <p>Admins are able to edit/delete other users' details.</p>
    </div>
  </div>
</div>